.topbar-nav li{
    list-style: none;
    float:left;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    color: #b0b0b0;

}
.noDecoration
{

}
.container
{
    background-color: gray;
}