.topbar-nav li{
    list-style: none;
    float:left;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
}
.no
.container
{
    background-color: gray;
}